extends templates/layout

block main 
    main 
        form(method='POST' action=`/preferences?_method=PATCH`)
            .userPreference
                label(for='genderOther') Your dating preference is someone that identifies as a 
                select(name='genderOther', required)
                    option(value='woman',selected=preferenceData.genderPref=='woman')
                        p woman                   
                    option(value='man',selected=preferenceData.genderPref=='man')
                        p man
                    option(value='either',selected=preferenceData.genderPref=='either')
                        p either
                label(for='minAgePreference')  and who's age is around 
                input(type='number', name='minAgePreference', min='18', max='100', value=preferenceData.minAgePref required)   
                label(for='maxAgePreference')  and  
                input(type='number', name='maxAgePreference', min='18', max='100', value=preferenceData.maxAgePref required)   
                label(for='range') years old.  They should like at least  
                input(type='number', min='1', max='100', name='percent' value=preferenceData.percentOverlap required)
                p percent of the beer you do. 

                button(type="submit") Save
